In [1]:
import pandas as pd

In [4]:
data =  pd.read_csv("weather_data.csv")
print(data)

         day  temp condition
0     Monday    12     Sunny
1    Tuesday    14      Rain
2  Wednesday    15      Rain
3   Thursday    14    Cloudy
4     Friday    21     Sunny
5   Saturday    22     Sunny
6     Sunday    24     Sunny

In [5]:
type(data)

pandas.core.frame.DataFrame

In [6]:
data["temp"]

0    12
1    14
2    15
3    14
4    21
5    22
6    24
Name: temp, dtype: int64

In [7]:
type(data["temp"])

pandas.core.series.Series

In [8]:
data_dictionary = data.to_dict()

In [9]:
print(data_dictionary)

{'day': {0: 'Monday', 1: 'Tuesday', 2: 'Wednesday', 3: 'Thursday', 4: 'Friday', 5: 'Saturday', 6: 'Sunday'}, 'temp': {0: 12, 1: 14, 2: 15, 3: 14, 4: 21, 5: 22, 6: 24}, 'condition': {0: 'Sunny', 1: 'Rain', 2: 'Rain', 3: 'Cloudy', 4: 'Sunny', 5: 'Sunny', 6: 'Sunny'}}

In [10]:
data_list = data["temp"].to_list()
print(data_list)

[12, 14, 15, 14, 21, 22, 24]

In [16]:
# calculate average of list 
print((sum(data_list) / len(data_list)))

17.428571428571427

In [18]:
print(data["temp"].mean())

17.428571428571427

In [19]:
# print the highest temperature
data["temp"].max()

24

In [20]:
# get data on coulmns
print(data["condition"])

0     Sunny
1      Rain
2      Rain
3    Cloudy
4     Sunny
5     Sunny
6     Sunny
Name: condition, dtype: object

In [21]:
print(data.condition)

0     Sunny
1      Rain
2      Rain
3    Cloudy
4     Sunny
5     Sunny
6     Sunny
Name: condition, dtype: object

In [25]:
# getting row in data frame
data[data.temp>1]

         day  temp condition
0     Monday    12     Sunny
1    Tuesday    14      Rain
2  Wednesday    15      Rain
3   Thursday    14    Cloudy
4     Friday    21     Sunny
5   Saturday    22     Sunny
6     Sunday    24     Sunny